body {
  font-family: "sofia-pro", "source-han-sans-japanese", sans-serif;
  font-style: normal;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.75) 100%), url(../img/bgp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

  h1,h2,h3,h4,h5,p {
    margin: 5px 0;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .menu {
    text-align: center;
    color: #fff;
  }

@media only screen and (min-width: 501px) {
  body {
    width: 100%;
		margin: 0;
    overflow-x: hidden;
  }

  article	{
  			background: #fff;
  			padding: 7.5vh 30vw;
  			margin: -50px -200px 0 -200px;
  			border-radius: 200vh 200vh 0 0 / 10vh 10vh 0 0;
        overflow: hidden;
  		}

  footer	{
  			position: relative;
  			bottom: 0;
  			height: 75px;
  			background: #000;
        margin: -15px 0;
  		}

      footer p	{
              font-size: 15px;
              text-align: center;
              padding: 10px;
              color: #fff;
            }

  h1 {
    font-weight: 700;
    font-size: 3em;
  }

  .index {
    height: 100vh;
    overflow: hidden;
	}

  .index-menu {
    width: 100vw;
    height: auto;
    padding: 10px 30px;
    margin: 35vh auto 10vh auto;
  }

  .main-contents {
    width: 100vw;
    height: auto;
    margin: 30vh auto 20vh auto;
  }

  nav	{
			text-align: center;
		}

  ul 	{
		list-style-type: none;
		display: inline-block;
  	text-align: center;
    padding: 0;
	}

	li 	{
  	float: left;
  	margin: 0 5px;
  }

	li a 	{
    display: table-cell;
		vertical-align: middle;
		text-align: center;
    font-size: 1.5em;
		font-weight: 700;
    color: #fff;
    padding: 15px;
		text-decoration: none;
		border: 2.5px solid #fff;
    transition: 0.25s ease;
	}

  li a:hover 	{
          transition: 0.25s ease;
          border: 2.5px dashed #fff;
        }

}

@media only screen and (max-width: 500px) {
  body {
    width: 100vw;
		margin: 0;
    overflow-x: hidden;
  }

    article	{
    			background: #fff;
    			padding: 5vh 15vw;
          margin: 25px 0 0 0;
          overflow: hidden;
    		}

    footer	{
    			position: relative;
    			bottom: 0;
    			height: 75px;
    			background: #000;
          margin: -15px 0;
    		}

        footer p	{
                font-size: 15px;
                text-align: center;
                padding: 10px;
                color: #fff;
              }

  h1 {
    font-weight: 700;
    font-size: 2.5em;
  }

  .index {
    height: 100vh;
    overflow: hidden;
  }

  .index-menu {
    width: 100vw;
    height: auto;
    padding: 10px 0px;
    margin: 35vh auto 0vh auto;
  }

  .main-contents {
    width: 100vw;
    height: auto;
    margin: 30vh auto 20vh auto;
  }

  nav	{
      text-align: center;
    }

  ul 	{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 0;
  }

  li 	{
    float: left;
    margin: 0 5px;
  }

  li a 	{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border: 2.5px solid #fff;
    transition: 0.25s ease;
  }

  li a:hover 	{
          transition: 0.25s ease;
          border: 2.5px dashed #fff;
        }

}
