h1 {
  font-family: "source-han-sans-japanese", "sofia-pro", sans-serif;
  font-size: 2em;
}

h2 {
  font-family: "source-han-sans-japanese", "sofia-pro", sans-serif;
  font-size: 2em;
}

h3 {
  font-family: "source-han-sans-japanese", "sofia-pro", sans-serif;
  font-size: 2em;
}

h4 {
  font-family: "source-han-sans-japanese", "sofia-pro", sans-serif;
  font-size: 2em;
}

h5 {
  font-family: "source-han-sans-japanese", "sofia-pro", sans-serif;
  font-size: 2em;
}

p {
  font-family: "source-han-sans-japanese", "sofia-pro", sans-serif;
  font-size: 1.2em;
}
