h1,h2,h3,h4,h5 {
  font-family: sofia-pro, source-han-sans-japanese, sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: sofia-pro, source-han-sans-japanese, sans-serif;
  font-size: 1.2em;
}
