body {
font-family: sofia-pro, source-han-sans-japanese;
font-weight: 400;
font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,blockquote p {
font-family: sofia-pro, source-han-sans-japanese;
font-weight: 600;
font-style: normal;
}

blockquote cite {
font-family: sofia-pro, source-han-sans-japanese;
font-weight: 400;
font-style: normal;
}

.entry-content strong {
font-weight: 600;
font-style: normal;
background: linear-gradient(transparent 65%, #ffee80 30%);
}

img, iframe {
border-radius: 10px;
}

.entry-content img {
-webkit-filter: saturate(75%);
-moz-filter: saturate(75%);
-ms-filter: saturate(75%);
-o-filter: saturate(75%);
filter: saturate(75%);
}

::selection {
    background: #333;
    color: #fff;
}

.post-page-numbers {
  font-weight: bold;
  padding: 2.5px 7.5px;
  text-decoration: none;
  border: 1.5px #333 solid;
  border-radius: 5px;
  box-shadow: 0 2.5px #333;
}

.post-page-numbers.current {
  background: #333;
  color: #fff;
  border: 1.5px #333 solid;
  box-shadow: 0 2.5px #000;
}
